.InSlick-DataflowPanel {
  flex: 1;
  overflow: hidden;
  background-color: #3e4450;
  .Graph-Typing {
    font-size: 10px;
  }
  .Graph-Typing-Title {
    font-style: italic;
  }
  .Graph-Typing-Block {
    padding-left: 15px;
  }
}
