.InSlick-ModuleBrowser {
}

.InSlick-ModuleItem {
  background-color: #fff3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3px;
  border-bottom: var(--app-highlight-background) 1px dashed;
  & > :nth-child(2) {
    padding-left: 3px;
    flex: 1;
    cursor: grab;
    user-select: none;
  }
  &:hover {
    background-color: var(--app-highlight-background);
  }
}
